/*I didn't really need to use SASS here, but figured I'd show I knew how*/

$eTopFi: 5px;
$eLeftFi: 10px;
$eTopSe: 12px;
$eLeftSe: 4px;
$eTopTh: 7px;
$eLeftTh: 4px;

#fire
{
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid orange;
  z-index: -100;
}

#campfire
{
  margin-left: 700px;

}

//why do both the logs look rotated when one 1 of them is!?

@mixin log
{
  height: 40px;
  width: 100px;
  background-color: brown;
  border-style: solid;
  border-width: 2px;
}

#log1
{
  @include log;

}

#log2
{
  @include log;
  transform: rotate(-35deg);
}

#eye
{
  margin-left: 500px;
  width: 50px;
  height: 50px;
  background-color: ivory;
  border-style: solid;
  border-radius: 50% 0%;
  transform: rotate(45deg);
}

#pupil
{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: $eTopFi;
  left: $eLeftFi;
  z-index: 1;
  border-style: solid;
  border-width: 6px;
  border-color: blue;
  animation: look 1.5s infinite linear;
}

@keyframes look
{
  20%
  {
    top:$eTopFi;
    left:$eLeftFi;
  }
  
  25%
  {
    top: $eTopSe;
    left: $eLeftSe;
  }
  
  45%
  {
    top: $eTopSe;
    left: $eLeftSe;
  }
  
  50%
  {
    top: $eTopTh;
    left: $eLeftTh;
  }
  
  70%
  {
    top: $eTopTh;
    left: $eLeftTh;
  }
  
  75%
  {
    top: 9px;
    left: 1px;
  }
  
  80%
  {
    top: $eTopFi;
    left: $eLeftFi;
  }
}

#basketBall {  
  margin-left: 100px;
  width: 200px;  
  height: 200px;  
  background-image: url("https://www.freevector.com/uploads/vector/preview/19065/048.jpg");
  background-size: cover;
  border-radius: 50%;  
  position: absolute;
  bottom: 250px;
  animation: bounce 1.5s infinite linear;
}

//added "lag" at the top to give it a more natural look, like it was
//only bouncing against one surface, instead of two.
@keyframes bounce
{
  5%
  {
  bottom: 245px;
  }

  20%
  {
  bottom: 200px;
  }

    50%
  
  {
    bottom: 0px;
    width: 200px;
    height: 200px;
  }
  
  60%
  {
    width: 220px;
    height: 180px;
  }
  
  70%
  {
    width: 200px;
    height: 180px;
  }

80%
{
  bottom: 200px;
}

95%
{
  bottom: 245px;
}
  
}



